preffer="offline"
version="0.0.1 beta"
n_commands="3"
projects_directory="/Users/antonio/Documents/Projects"
server_names=(
    "zordon" 
    "dinozord"
)
server_locations=(
    "ssh -L localhost:8999:localhost:8888 leitao@zordon.centai.eu" 
    "ssh -L localhost:8999:localhost:8888 leitao@zordon.centai.eu"
)